name: update IIIF collection

on:
  push:
    branches:
      - 'master'

jobs:

  update-collection:
    runs-on: ubuntu-latest
    name: Updates collection files
    steps:
      - name: Update files
        uses: jchartrand/ISicily-myFork@master
        with:
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          sha: ${{ github.sha }}
          token: ${{ github.token }}